:root {
    --bg: #0f172a;
    --card-bg: #1e293b;
    --primary: #8b5cf6;
    --accent: #06b6d4;
    --text: #f8fafc;
    --danger: #ef4444;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container { 
    width: 100%; 
    max-width: 800px; 
}

.card-form {
    background: var(--card-bg);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    margin-bottom: 20px;
}

.input-group { 
    display: flex; 
    gap: 10px; 
    margin-bottom: 10px; }

input, select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #334155;
    background: #0f172a;
    color: white;
}
 textarea {
    width: 97%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #334155;
    background: #0f172a;
    color: white;
 }

button {
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    transition: 0.3s;
}

#btn-save { 
    background: var(--primary); 
    color: white; width: 100%; 
    font-weight: bold; 
}
#btn-save:hover { 
    background: #7c3aed; 
}

.filters { 
    margin: 20px 0; 
    display: flex; 
    gap: 10px; 
}
.btn-filter { 
    background: #334155; 
    color: white; 
}
.btn-filter.active { 
    background: var(--accent); 
}

.task-card {
    background: var(--card-bg);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    border-left: 5px solid var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-info h3 { 
    margin: 0; 
    color: var(--accent); 
}
.task-actions button { 
    margin-left: 5px; 
    font-size: 0.8rem; 
}
.btn-edit { 
    background: #eab308; 
}
.btn-delete {
     background: var(--danger);
     }
.hidden { 
    display: none; 
}